<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mon Portfolio - Thomas Hoarau Développeur WEB</title>
    <link rel="stylesheet" href="../styles/nav_petites_resolution.css">
  </head>
  <body>

    <header>

        <div class="container-head">
            <h1>Thomas Hoarau</h1>
            <h2 class="titre">Développeur Full-Stack</h2>

        </div>

        
        <nav>
            <a href="./corps.html#coordonnées" class="nav">Coordonnées</a>
            <a href="./corps.html#a-propos" class="nav">A Propos</a>
            <a href="./corps.html#experiences" class="nav">Expériences</a>
            <a href="./corps.html#projets" class="nav">Projets</a>
            <a href="./corps.html#qualif" class="nav">Qualifications</a>
            <a href="./corps.html#diplôme" class="nav">Diplômes</a>
            <a href="./corps.html#loisirs" class="nav">Loisirs</a>
        </nav>
        
    </header>
    <script src="../JS/animation.js"></script>

</body>