<link rel="stylesheet" href="../styles/corps.css">

<body>

    <section>
        <h2 id="coordonnées">Coordonnées</h2>

        <div class="container-coord">

            <div id="adresse">
                <div class="elem">Adresse : </div>
                <p>49 bis route de Saint-François, 97400 Saint-Denis</p>
            </div>
            <div id="mail">
                <div class="elem">Mail : </div>
                <p>thomas.hoarau9@icloud.com</p>
            </div>
            <div id="tel">
                <div class="elem">Téléphone : </div>
                <p>0693.45.29.85</p>
            </div>
            <figure>
                <a href="http://linkedin.com/in/thomas-hoarau-054910199">
                    <img src="../Images/logo-linkedin.jpg" alt="logo linkedin" />
                    <p>Thomas Hoarau</p>
                </a>
            </figure>
        </div>

        <div class="container-a-propos">

            <h2 id="a-propos">A Propos</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis quidem deserunt delectus, consequatur vero reiciendis repellat? Doloribus commodi laborum quo, nisi corporis asperiores eligendi maiores deleniti sapiente incidunt tenetur expedita!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ipsum? Impedit numquam quo animi eaque quam rerum odio vitae distinctio ut. Temporibus fugit modi deleniti nobis? Cum eos nesciunt atque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta fugit dolorem vel reiciendis. Assumenda voluptates hic eveniet inventore. Dignissimos facilis beatae deleniti vel ad, officia possimus commodi sint a nobis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam placeat sunt dolorum officia modi saepe inventore excepturi veniam dignissimos asperiores aspernatur nihil, doloremque rerum tenetur eos sit unde. Beatae!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quibusdam. Repellat totam accusantium perferendis voluptatem beatae explicabo quasi ex ab, quae quo ullam molestias. Doloribus praesentium rem facilis eveniet asperiores?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error pariatur fugiat laborum eligendi cum itaque architecto voluptatibus saepe, nostrum in, illum at quo excepturi, voluptate nihil voluptatem consectetur dolorum dolor?
            </p>

        </div>

        
        
        <div class="container-experiences">
            
            <h2 id="experiences-pro">Expériences Professionnelles</h2>

            <div class="experience1">

                <h3 class="title-exp1">Technicien commercial, <em class="info-title1">Run Phone Service</em></h3>
                <span class="periode">Octobre 2020 - Décembre 2020</span>

                <ul class="liste-taches1">
                    <li>vente d'accessoires mobiles</li>
                    <li>Diagnostic & Réparation téléphones mobiles</li>
                    <li>Suivie du stock</li>
                </ul>

            </div>

            <div class="experiences2">

                <h3 class="title-exp2">Commercial en Immobilier, <em class="info-title2">Rc Plus Immobilier</em></h3>
                <span class="periode">Novembre 2019 - Mai 2020</span>

            <ul class="liste-taches2">
                <li>Prospections téléphoniques</li>
                <li>Visites & présentations des biens</li>
                <li>Discussions/Négociation</li>
                <li>Suivi clients</li>
            </ul>

            </div>

        </div>

        <div class="container-projets">
            
            <h2 id="projets">Mes Projets</h2>

            <div class="mes-projets">

                <ul class="liste-proj1">
                    <li>Puissance 4</li>
                    <li>Maquette dynamique</li>
                    <li>Twitter</li>    
                </ul>

                <ul class="liste-proj2">
                    <li>My Cinema</li>
                    <li>Spotify</li>
                    <li>My Snapchat</li>
                </ul>
            
            </div>

        </div>
        
        <aside id="container-qualif">

            <h2 id="qualif">Compétences & Qualifications</h2>

            <!-- <div class="container-listes"> -->
            
            <ul class="liste-qualif1">
                <li class="liste-elem1">Bonne argumentation commerciale</li>
                <li class="liste-elem1">Accueillir et conseiller le client</li>
            </ul>

            <ul class="liste-qualif2">
                <li class="liste-elem2">Connaissance des langage SWIFT, HTML, CSS, SASS, JS, C#...</li>
                <li class="liste-elem2">Connaisance de base des Frameworks tels que React.js, Next.js</li>
            </ul>

        <!-- </div> -->

        </aside>

        <aside id="container-diplome">

            <h2 id="diplôme">Diplômes</h2>
            <p>Bac Pro Electrotechnique</p>

        </aside>

    </section>
    <script src="../JS/animation.js"></script>
</body>