
    $shadow-title: 1px 2px 2px black;
    $size-title: 25px;
    $color-title: #0a1ced;

// Résolution pour les tailles d'écran allant de 280px à 480px

@media all and (min-width: 280px) and (max-width: 480px) {

    body {
        display: flex;
        margin: 0;
        flex-direction: column;
        height: auto;
        // border: 2px solid black;
        font-family: arial;
        background: radial-gradient(#81e05c, rgb(45, 92, 185));


        #coordonnées {
            font-size: $size-title;
            color: $color-title;
            text-align: center;
            text-shadow: $shadow-title;
        }

        .container-coord {
            display: flex;
            flex-direction: column;
            // border: 2px solid rgb(92, 73, 73);
            height: 30em;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 5px;

            .elem {
                font-weight: bold;
                font-size: 18px;
                color: rgb(238, 225, 225);
                text-align: center;
                padding-bottom: 5px;
            }

            #adresse {
                border: 1px solid black;
                border-radius: 10px;
                box-shadow: 3px 3px 3px rgb(92, 73, 73);
                background-color: rgba(250, 70, 15, 0.5);
                color: aliceblue;
                font-style: italic;
                padding: 5px;
                text-align: center;
                margin: auto;
            }

            #mail {
                border: 1px solid black;
                border-radius: 10px;
                box-shadow: 3px 3px 3px rgb(92, 73, 73);
                background-color: rgba(102, 136, 48, 0.178);
                color: aliceblue;
                font-style: italic;
                padding: 5px;
                text-align: center;
                margin: auto;
                width: 14em;
            }

            #tel {
                border: 1px solid black;
                border-radius: 10px;
                box-shadow: 3px 3px 3px rgb(92, 73, 73);
                background-color: rgba(156, 3, 118, 0.281);
                color: aliceblue;
                font-style: italic;
                padding: 5px;
                text-align: center;
                margin: auto;
                width: 11em;
            }

            figure {
                border: 1px solid rgba(147, 243, 4, 0.205);
                border-radius: 10px;
                margin: auto;
                
                a img {
                    border-radius: 10px;
                    height: 65px;
                    width: 160px;
                }

                p {
                    margin: 0;
                    text-align: center;
                }
            }
        }

        .container-a-propos {
            // border: 2px solid red;
            padding: 5px 10px;
            
            #a-propos {
                font-size: $size-title;
                text-shadow: $shadow-title;
                color: $color-title;
                text-align: center;
            }

            p {
                text-align: justify;
                text-shadow: 1px 1px 1px rgba(243, 243, 239, 0.993);
            }
        }

        .container-experiences {
            // border: 2px solid orangered;
            padding: 5px;
            
            #experiences-pro {
                font-size: $size-title;
                text-shadow: $shadow-title;
                color: $color-title;
                text-align: center;
            }
            
            .experience1 {
                // border: 2px solid bisque;
                display: flex; 
                flex-direction: column;

                .title-exp1 {
                    text-align: center;
                    color: $color-title;
                    font-size: 20px;
                    text-shadow: 1px 1px 2px whitesmoke;

                    .info-title1 {
                        font-style: italic;
                        color: #05505a;
                        font-size: 18px;
                        opacity: 0.6;
                    }
                }

                .periode {
                    color: #05505a;
                    font-weight: bold;
                    text-align: center;
                }

                .liste-taches1 {
                    // border: 2px solid violet;
                    display: flex;
                    flex-direction: column;
                    font-size: 16px;
                    height: 10em;
                    justify-content: space-between;
                    font-family: 'Courier New';
                    text-shadow: 1px 1px 2px white;
                }
            }

            .experiences2 {
                // border: 2px solid blue;
                margin-top: 10px;
                display: flex;
                flex-direction: column;

                .title-exp2 {
                    text-align: center;
                    color: $color-title;
                    font-size: 20px;
                    text-shadow: 1px 1px 2px whitesmoke;

                    .info-title2 {
                        font-style: italic;
                        color: #05505a;
                        font-size: 18px;
                        opacity: 0.6;
                    }
                }
                .periode {
                    color: #05505a;
                    font-weight: bold;
                    text-align: center;
                }

                .liste-taches2 {
                    // border: 2px solid greenyellow;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    word-wrap: break-word;
                    font-family: 'Courier New';
                    height: 15em;
                    font-size: 16px;
                    text-shadow: 1px 1px 2px white;
                }
            }
        }

        .container-projets {
            // border: 2px solid maroon;
            margin-bottom: 10px;
            // text-align: center;
            
            #projets {
                font-size: $size-title;
                text-shadow: $shadow-title;
                color: $color-title;
                text-align: center;
            }

            .mes-projets {
                // border: 2px solid magenta;
                font-family: 'Courier New';
                font-size: 18px;
                text-shadow: 1px 1px 2px white;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                
                
                .liste-proj1 {
                    // border: 2px solid goldenrod;
                    display: flex;
                    flex-direction: column;
                    height: 6em;
                    justify-content: space-around;
                    margin: 5px;

                    li {
                    &:nth-child(1) {
                        position: relative;
                        right: 20px;
                        // color: blue;
                        }
                        &:nth-child(2) {
                            width: 7em;
                            // text-shadow: 1px 1px 2px white;
                            
                        }
                        &:nth-child(3) {
                            // color: red;
                            position: relative;
                            left: 22px;
                        }
                    }
                }

                .liste-proj2 {
                    // border: 2px solid rgba(118, 9, 128, 0.533);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 6em;
                    margin: 5px;

                    li {
                        &:nth-child(1) {
                            position: relative;
                            left: 19px;
                        }
                        &:nth-child(2) {
                            position: relative;
                            right: 5px;
                            // color: rgba(42, 181, 190, 0.993);
                        }
                        &:nth-child(3) {
                            // color: rgb(161, 46, 152);
                            position: relative;
                            right: 20px;
                        }
                    }
                }
            }
        }

        #container-qualif {
            border: 1px solid black;
            box-shadow: 2px 2px 2px black;
            width: auto;
            padding: 5px;
            height: auto;
            border-radius: 15px;
            margin-left: -32.4em;
            margin-bottom: 10px;
            opacity: 0.5;
            position: fixed;
            top: 10em;
            display: flex; 
            flex-direction: column;
            justify-content: space-around;
            
            #qualif {
                font-size: 22px;
                text-shadow: 1px 1px 2px whitesmoke;
                color: $color-title;
                text-align: center;
            }

            // .container-listes {
            //     border: 2px solid orange;
            //     display: flex;
            //     justify-content: space-around;

                .liste-qualif1 {
                    // border: 2px solid honeydew;
                    margin: 5px;
                    width: auto;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    color: white;
                    text-shadow: 1px 1px 1px black;
                }

                .liste-qualif2 {
                    // border: 2px solid purple;
                    margin: 5px;
                    width: auto;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    color: white;
                    text-shadow: 1px 1px 1px black;
                }
            // }
        }

        #container-diplome {
            border: 1px solid violet;
            box-shadow: -3px 3px 2px black;
            position: fixed;
            display: flex;
            flex-direction: column;
            top: 33em;
            border-radius: 15px;
            margin: 0;
            padding: 5px;
            width: auto;
            height: auto;
            right: -8.3em;
            text-align: right;
            opacity: 0.5;
            
            #diplôme {
                margin: 0;
                font-size: 22px;
                text-shadow: 1px 1px 2px whitesmoke;
                color: $color-title;
            }

            p {
                width: 8em;
                color: white;
                text-shadow: 1px 1px 1px black;
            }
        }
    }
}

@media all and (min-width: 481px) and (max-width: 780px) {
    
    body {
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        border: 2px solid black;
        background-color: blanchedalmond;
        font-family: 'sans-serif';

        section {
            // border: 2px solid green;
            
            #coordonnées {
                font-size: 32px;
                color: $color-title;
                text-align: center;
                text-shadow: $shadow-title;
            }
            
            .container-coord {
                display: flex;
                flex-direction: column;
                // border: 2px solid rgb(235, 10, 10);
                height: 30em;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 5px;

                .elem {
                    font-weight: bold;
                    font-size: 18px;
                    color: rgb(238, 225, 225);
                    text-align: center;
                    padding-bottom: 5px;
                }
    
                #adresse {
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: 3px 3px 3px rgb(92, 73, 73);
                    background-color: rgba(2, 15, 73, 0.993);
                    color: aliceblue;
                    text-shadow: 1px 1px 1px black;
                    font-style: italic;
                    padding: 5px;
                    text-align: center;
                    // margin: auto;
                }
    
                #mail {
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: 3px 3px 3px rgb(92, 73, 73);
                    background-color: rgba(2, 15, 73, 0.993);
                    color: aliceblue;
                    text-shadow: 1px 1px 1px black;
                    font-style: italic;
                    padding: 5px;
                    text-align: center;
                    // margin: auto;
                }
    
                #tel {
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: 3px 3px 3px rgb(92, 73, 73);
                    background-color: rgba(2, 15, 73, 0.993);
                    color: aliceblue;
                    text-shadow: 1px 1px 1px black;
                    font-style: italic;
                    padding: 5px;
                    text-align: center;
                    // margin: auto;
                    // width: 11em;
                }    

                figure {
                    border: 1px solid rgba(206, 228, 11, 0.973);
                    width: 12em;
                    border-radius: 10px;
                    align-self: center;
                    
                    a img {
                        border-radius: 10px;
                        height: 65px;
                        width: 12em;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        
            .container-a-propos {
                // border: 2px solid purple;
                padding: 5px;
                
                #a-propos {
                font-size: 32px;
                text-shadow: $shadow-title;
                color: $color-title;
                text-align: center;
                }

                p {
                    text-align: justify;
                }
            }

            .container-experiences {
                // border: 2px solid maroon;
                padding: 5px;
                
                #experiences-pro {
                font-size: 32px;
                text-shadow: $shadow-title;
                color: $color-title;
                text-align: center;
                }

                .experience1 {
                    // border: 2px solid fuchsia;
                    display: flex;
                    flex-direction: column;
                    
                    .title-exp1 {
                        text-align: center;
                        color: $color-title;
                        font-size: 20px;
                    
                        .info-title1 {
                            font-style: italic;
                            color: #05505a;
                            font-size: 17px;
                            opacity: 0.6;
                            font-weight: normal;
                        }
                    }
                    
                    .periode {
                        color: #05505a;
                        font-weight: bold;
                        text-align: center;
                    }

                    .liste-taches1 {
                        // border: 2px solid violet;
                        display: flex;
                        flex-direction: column;
                        align-self: center;
                        font-size: 16px;
                        height: 10em;
                        width: auto;
                        justify-content: space-around;
                        font-family: 'Courier New';
                    }
                }

                .experiences2 {
                    // border: 2px solid blue;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
    
                    .title-exp2 {
                        text-align: center;
                        color: $color-title;
                        font-size: 20px;
    
                        .info-title2 {
                            font-style: italic;
                            color: #05505a;
                            font-size: 17px;
                            opacity: 0.6;
                            font-weight: normal;
                        }
                    }
                    .periode {
                        color: #05505a;
                        font-weight: bold;
                        text-align: center;
                    }
    
                    .liste-taches2 {
                        // border: 2px solid greenyellow;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-self: center;
                        // word-wrap: break-word;
                        font-family: 'Courier New';
                        height: 15em;
                        width: 25em;
                        font-size: 16px;
                    }
                }
            }

            .container-projets {
                // border: 2px solid blue;
                padding: 5px;
                
                #projets {
                    font-size: $size-title;
                    text-shadow: $shadow-title;
                    color: $color-title;
                    text-align: center;
                }
    
                .mes-projets {
                    // border: 2px solid magenta;
                    font-family: 'Courier New';
                    font-size: 18px;
                    text-shadow: 1px 1px 2px white;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    
                    .liste-proj1 {
                        // border: 2px solid goldenrod;
                        display: flex;
                        flex-direction: column;
                        height: 6em;
                        justify-content: space-around;
                        margin: 5px;
    
                        li {
                        &:nth-child(1) {
                            position: relative;
                            right: 20px;
                            // color: blue;
                            }
                            &:nth-child(2) {
                                width: 7em;
                                // text-shadow: 1px 1px 2px white;
                                
                            }
                            &:nth-child(3) {
                                // color: red;
                                position: relative;
                                left: 22px;
                            }
                        }
                    }
    
                    .liste-proj2 {
                        // border: 2px solid rgba(118, 9, 128, 0.533);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 6em;
                        margin: 5px;
    
                        li {
                            &:nth-child(1) {
                                position: relative;
                                left: 19px;
                            }
                            &:nth-child(2) {
                                position: relative;
                                right: 5px;
                                // color: rgba(42, 181, 190, 0.993);
                            }
                            &:nth-child(3) {
                                // color: rgb(161, 46, 152);
                                position: relative;
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }

        #container-qualif {
            border: 1px solid black;
            box-shadow: 2px 2px 2px black;
            width: auto;
            padding: 5px;
            height: auto;
            border-radius: 15px;
            margin-left: -35.5em;
            margin-bottom: 10px;
            opacity: 0.5;
            position: fixed;
            top: 10em;
            display: flex; 
            flex-direction: column;
            justify-content: space-around;
            
            #qualif {
                font-size: 22px;
                text-shadow: 1px 1px 2px whitesmoke;
                color: $color-title;
                text-align: center;
            }

                .liste-qualif1 {
                    // border: 2px solid honeydew;
                    margin: 5px;
                    width: auto;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    color: white;
                    text-shadow: 1px 1px 1px black;
                }

                .liste-qualif2 {
                    // border: 2px solid purple;
                    margin: 5px;
                    width: auto;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    color: white;
                    text-shadow: 1px 1px 1px black;
                }
        }

        #container-diplome {
            border: 1px solid violet;
            box-shadow: -3px 3px 2px black;
            position: fixed;
            display: flex;
            flex-direction: column;
            top: 33em;
            border-radius: 15px;
            margin: 0;
            padding: 5px;
            width: auto;
            height: auto;
            right: -8.3em;
            text-align: right;
            opacity: 0.5;
            word-wrap: break-word;
            
            #diplôme {
                margin: 0;
                font-size: 22px;
                text-shadow: 1px 1px 2px whitesmoke;
                color: $color-title;
            }

            p {
                width: 8em;
                color: white;
                text-shadow: 1px 1px 1px black;
            }
        }
    }
}

@media all and (min-width: 781px) and (max-width: 1700px) {

    body {
        border: 2px solid turquoise;
        margin: 0;
        padding: 0;

        section {
            border: 2px solid grey;

            #coordonnées {
                font-size: 40px;
                color: $color-title;
                text-align: center;
                text-shadow: $shadow-title;
            }

            .container-coord {
                // border: 2px solid red;
                // width: 65em;
                height: 20em;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                text-align: center;
                justify-content: space-between;
                font-size: 20px;
                
                .elem {
                    font-weight: bold;
                    text-align: center;
                }

                #adresse {
                    margin: auto;
                    // border: 1px solid blue;
                    border-radius: 10px;
                    width: 17em;
                }

                #mail {
                    margin: auto;
                    // border: 1px solid orange;
                    border-radius: 10px;
                    width: 17em;
                }

                #tel {
                    margin: auto;
                    // border: 1px solid purple;
                    border-radius: 10px;
                    width: 17em;
                }
            }

                figure {
                    // border: 1px solid rgba(206, 228, 11, 0.973);
                    height: 9.5em;
                    margin: auto;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    img {
                        height: 90px;
                        border-radius: 10px;
                    }
                }

            .container-a-propos {
                // border: 2px solid maroon;

                #a-propos {
                    font-size: 40px;
                    text-shadow: $shadow-title;
                    color: $color-title;
                    text-align: center;
                }

                p {
                    text-align: justify;
                    padding: 10px;
                }
            }

            .container-experiences {
                // border: 2px solid turquoise;

                #experiences-pro {
                    font-size: 40px;
                    text-shadow: $shadow-title;
                    color: $color-title;
                    text-align: center;
                }

                .experience1 {
                    display: flex; 
                    flex-direction: column;
                
                    .title-exp1 {
                        text-align: center;
                        color: $color-title;
                        font-size: 30px;

                        .info-title1 {
                            font-style: italic;
                            color: #05505a;
                            font-size: 22px;
                            opacity: 0.8;
                            font-weight: normal;
                        }
                    }
                    
                    .liste-taches1 {
                        // border: 2px solid yellow;
                        align-self: center;
                        font-size: 22px;
                        height: 6em;
                        line-height: 2;
                    }
                }

                .experiences2 {
                    display: flex;
                    flex-direction: column;
                
                    .title-exp2 {
                        text-align: center;
                        color: $color-title;
                        font-size: 30px;

                        .info-title2 {
                            font-style: italic;
                            color: #05505a;
                            font-size: 22px;
                            opacity: 0.8;
                            font-weight: normal;
                        }
                    }

                    .liste-taches2 {
                        // border: 2px solid green;
                        align-self: center;
                        font-size: 22px;
                        height: 8em;
                        line-height: 2;
                    }
                }

                .periode {
                            text-align: center;
                            font-style: italic;
                            color: #05505a;
                            font-size: 17px;
                            opacity: 0.6;
                            font-weight: normal;
                }
            }

            .container-projets {
                // border: 2px solid black;
                // display: flex; 
                // flex-direction: column;
                font-size: 20px;
                
                #projets {
                    font-size: 40px;
                    text-shadow: $shadow-title;
                    color: $color-title;
                    text-align: center;
                }

                .mes-projets {
                    // border: 2px solid violet;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .liste-proj1 {
                    // border: 2px solid violet;
                    width: 11em;
                    height: 8em;
                    line-height: 2.5;
                }
                
                .liste-proj2 {
                    // border: 2px solid maroon;
                    height: 8em;
                    width: 8em;
                    line-height: 2.5;
                }
            }
            }
        }

        #container-qualif {
            // background-color: red;
            border: 0.5px solid rgba($color: #ad686881, $alpha: 1.0);
            border-radius: 20px;
            width: 30em;
            opacity: 0.4;
            font-size: 22px;
            height: 17em;
            word-wrap: break-word;
            margin-left: -29.8em;
            position: fixed;
            top: 10em;

            
            #qualif {
                font-size: 30px;
                color: $color-title;
                text-align: center;
            }

            .liste-qualif1 {
                // border: 2px solid yellow;
                line-height: 2.3;
                height: 5em;
                margin-bottom: 0px;
            }

            .liste-qualif2 {
                margin-top: 0px;
                // border: 2px solid fuchsia;
                height: 7em;
                line-height: 1.8;
            }
        }

        #container-diplome {
            border: 1px solid grey;
            position: fixed;
            top: 38em;
            opacity: 0.3;
            right: -13.5em;
            border-radius: 10px;
            padding: 10px;
            // box-shadow: -2px 2px 2px black;
            width: auto;
            word-wrap: break-word;

            #diplôme {
                font-size: 30px;
                color: $color-title;
                margin: 0;
            }

            p {
                color: white;
                text-shadow: 1px 1px 1px black;
            }
        }
    }
}